.btn__link {
    margin-left: auto;
    margin-top: 6px;
    width: 90px;
    height: auto;
    color:  #f3eeea;
    font-size: 1rem;
    font-weight: 400;
    background-color: #4999af;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    padding: 9px 0;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        background-color: #2c7d94;
    }

    &--subscribe {
        margin: 22px 0 0 0;
        width: 275px;
        font-size: 1.125rem;
        letter-spacing: -1.5px;

        @include tablet-pr {
            display: inline-block;
            margin: 0;
        }
        
        @include mobile {
            display: block;
            margin: 22px auto 0; 
        }
    }
}