.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;

    @include tablet-pr {
        position: relative; 
    }
}

.main-nav {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 17px;

    @include mobile {
		padding: 0; 
	}
}

    .logo-block {
        @include tablet-pr {
            width: 100%;
        }

        @include mobile {
            text-align: center;
        }
    }
    .logo-title {
        margin: 0;
    }
        .logo_link {
            text-decoration: none;
            display: inline-block;
            padding-left: 66px;
            position: relative;
            font-family: $mainFont;
            color:  #727372;
            font-size: 2.36rem;
            font-weight: 300;
            text-transform: capitalize;
            vertical-align: middle;
            line-height: 0.8;
            margin: 43px 0 0 0;

            @include tablet-pr {
                margin: 23px 0 0 0;
            }

            span {
            font-weight: 700;
            }
            
            &:before {
                content: '';
                background: url(../img/LogoMain.png) center center no-repeat;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 57px;
                height: 58px;
                position: absolute;
            }

            &:after {
                content: 'centre';
                position: absolute;
                left: calc(50% + 33px);
                bottom: 0;
                transform: translate(-50%, 100%);
                color:  #1b7f9b;
                font-size: 0.516em;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 5px;
            }
        }

    .nav-block {
        position: relative;
        text-align: right;

        @include tablet-pr {
            width: 100%;
            margin-top: -50px;
        }

        @include mobile {
            text-align: center; 
            margin-top: 0;
        }
    }
        .main-nav__wrap {
            margin: 26px 0 23px 0;
        }
            .main-nav__list {
                display: flex;
                justify-content: center;
                list-style: none;
                margin: 0;
                padding: 0;
            }
                .main-nav__item {
                    margin-right: 54px;

                     @include mobile {
                        margin-right: 34px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
                    .main-nav__link {
                        text-decoration: none;
                        color:  #668333;
                        font-size: 0.938rem;
                        font-weight: 400;
                        text-transform: uppercase;
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color:#4999af;
                        }
                    }


        .second-nav__wrap {
            background: rgba(27,127,155,0.6);
            display: inline-flex;
            justify-content: space-between;
            width: 309px;
            text-align: left;
            margin: 20px -31px 0 0;
            position: relative;
            padding: 9px 22px 9px 13px;

            @include mobile {
                width: 100%;
                margin: 20px 0 0 0; 
            }
            
            &:after{
                content: '';
                position: absolute;
                background: rgba(27,127,155,0.6);
                transform-origin: right top;
                right: 0;
                top: 0;
                width: 13px;
                height: 100%;
                transform: skewY(-45deg);

                @include mobile {
                    display: none; 
                }

            }
        }
            .search-box {
                
            }
                .search-input {
                    background: url(../img/musica-searcher.svg) center right 3px no-repeat;
                    background-size: 17px 17px;
                    cursor: pointer;
                    padding: 0 20px 0 0;
                    color: transparent;
                    outline: none;
                    border: none;
                    width: 17px;
                    height: 17px;
                    font-size: 0.8rem;
                    border-radius: 3px;
                    transition: width 0.3s linear, color 0.3s linear, background-color 0.3s linear; 
                    &:focus {
                        width: 75px;
                        height: 17px;
                        background-color: rgba(255,255,255,0.5);
                        color: gray;
                        padding: 3px;
                    }
                }

            .second-nav__list {
                list-style: none;
                margin: 0;
                padding: 0;
            }
                .second-nav__item {
                    display: inline-block;
                    border-left: 1px solid white;
                    line-height: 0.7;

                    &:first-child {
                        border: none;
                    }

                    a {
                        margin: 0 8px 0 8px;  
                    } 

                    &:first-child>a {
                        margin: 0 8px 0 0;
                    }

                    &:last-child>a {
                        margin: 0 0 0 8px;
                    }
                }
                    .second-nav__link {
                        text-decoration: none;
                        color:  #ffffff;
                        font-size: 0.813rem;
                        font-weight: 400;
                        line-height: 0.8;
                    }